   /* ==============================
		Design Notes
		Brown title & p text #1a0d00
		Pale aqua nav text #c2d6d6
		Background  #flflda
   	  ============================== */
	
	* {
	margin: 0;
}

	body {
	font-family:  "Helvetica Neue", tahoma;
	background-image: url("cw_images/kevin_wolf_890x1187.png"); 
	margin-top: 0;
	background-position: center;
	background-size: cover; 
}

	.pane {
		width: 100%;
		/* full height of screen minus header, minus footer */
		height: calc(100vh - 75px - 40px);
		padding: 50px;
		box-sizing: border-box;
		overflow-x: scroll;
		position: relative;
	/*	background-color: black; */
}
	.timeline {
		height: 100%;
		width: 4000px;
		position: relative;
		/* background-color: green;  for test purposes */
}

	/* ===========================================
	Title, Navigation
	=============================================  */
	header {
	width: 100%;  
	position: relative;
	height: 75px;
}
	#page_title {
	font-size: 25px;
	margin-left: 45px;
	padding: 25px;
	color: #c2d6d6;
	text-shadow: 1px 2px #1a0d00;
}	
	
    /*navigation bar*/
    .nav {
    margin-top: 0px;
    margin-left: 25px;
    padding: 14px;
}
    @media (min-width: 480px) {
		header {
			display: flex;
		}
		.nav {
			display: flex;
		}
}

    /* navigation line*/
    li {
    margin-top: 0;
	padding: 6px;
	text-shadow: 2px 2px #1a0d00;
	list-style-type: none; 
}
 
	/*text in navigation bar*/
	
	.nav a {
	margin-top: 0;
	padding-left: 50px;
	color: #c2d6d6;
	font-size: 25px;
	text-decoration: none;
}

     /* title: Voices Of Time */
	#title_block {
	margin-top: 0;
	position: absolute;
	top: 40px;
	left: 30%;
	color: #c2d6d6;
	font-size: 25px;
	text-shadow: 2px 2px #1a0d00	 
}
 	 
	#paragraphs {
	position: absolute;
	top: 600px;
}

	hr {height: .3em; 
	border-style: solid;
	background-color: #c2d6d6;  /*shows pop-up text area */
}

	/* ==========================
	        Popup container section
	=============================*/

	section {
		display: flex;
		flex-direction: row;
	}
 /* =======================================
	This controls the horizontal popup area
	=======================================  */
	.popup {
		flex-direction: row;
		position: relative;
		cursor: pointer;
		/* background-color: #c2d6d6;  */
		padding: 3px 9px 6px 6px;
}

	/* the actual popup, text, and font, */

 	.popup .popuptext {
		display: flex;  
		flex-direction: row;
		 justify-content: center;
 		visibility: hidden;
		width: 325px;
		 color: #ffffe6;	 
		font-family: "Comic Sans MS";
	 	border-radius: 66px; 
		position: absolute;
		z-index: 1;				
}
 
 	.popuptext {
		font-size: 1.2em;
		margin-top: 2px;
		margin-left: 400px;  
} 
 		 
 	.popup .show {
		 visibility: visible;
 		-webkit-animation: fadeIn 1s;
 		animation: fadeIn 1s;
}	

	 /* ===========================
	 Add animation (fade in popup & fade out)
	 ===============================*/
 		@-webkit-keyframes fadeIn {
 		from {opacity: 0;}
 		to {opacity: 1;}
}
 	
 	 	@keyframes fadeIn {
 	 	from {opacity: 0;}
 	 	to {opacity: 1;}
}
/*
		@-webkit-keyframes fadeOut {
		0% {opacity: 1;}
		100% {opacity: 0;}
}

		@keyframes fadeOut {
		0% {opacity: 1;}
		100% {opacity: 0;}
}
*/


/* ================================
	This pseudo class makes text higher.
=====================================*/
.highertext {
	margin-top: 2px;
	margin-top: 25px;
	margin-left: 300px;  
 }
 
/* ==================================
	footer styles
	=============================== */
 	 footer {
		display: flex;
		flex-direction: row;
		justify-content: center;
 	 	margin: 1px 0px -2px 0px; 
		height: 30px;
		background-color: #509c9c;	
}

	footer li {
		display: inline;
}

	 footer a{
		 color: #00001a;
		 text-shadow: none;
	/*	 text-decoration: none; */
		 font-size: 18px;
		 margin-top: 0px;
		 margin-bottom: 2px;
}
    /*=======================
	Media Queries for larger screens
	========================*/
	
